body {
  margin: auto;
  text-align: center;
  width: 75%;
  justify-content: center;
  background: url(https://images.unsplash.com/photo-1633768993247-209f13029f5a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1032&q=80) ;
  background-size: 100%;
  opacity: 0.95;
}

.container {
  background-color: gainsboro;
  background-size: 75%;
}